.page {
  position: absolute;
  width: calc(100% - #{$sidebar-width});
  height: 100%;
  overflow-y: auto;
  color: #000;
  background: #fff;
  padding-bottom: 20px;
  transition: 0.5s;

  .gutenberg-anchor {
    color: #4183c4;
    padding-left: 10px;
    text-decoration: none;
    font-weight: initial;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  &__content {
    a {
      color: #4183c4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    hr {
      height: 4px;
      padding: 0;
      margin: 1.7em 0;
      overflow: hidden;
      background-color: #e7e7e7;
      border: none;
    }

    // This is used for code highlighting.
    pre {
      padding: 0.75rem;
      font-family: Consolas, "Source Code Pro", "Bitstream Vera Sans Mono", "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace;
      font-size: small;

      span {
        white-space: pre-wrap;
      }
    }

    blockquote {
      p {
        margin: 0px;
        padding: 0px;
      }
      font-style:italic;
      color: #555555;
      padding: 0.75em;
      border-left:8px solid #78C0A8 ;
      background:#EDEDED;
      margin-left: 0px;
    }

    blockquote span {
      display:block;
      color:#333333;
      font-style: normal;
      font-weight: bold;
      margin-top:1em;
    }

    iframe {
      border: 0;
    }

    table {
      margin: 0 auto;
      border-collapse: collapse;
      border-color: #cccccc;

      td {
        padding: 3px 20px;
        border: 1px solid #ccc;
      }

      thead {
        th {
          padding: 6px 13px;
          font-weight: bold;
          border: 1px solid #ccc;
        }
      }
    }

    word-wrap: break-word;
    line-height: 1.4;
    position: relative;
    left: 0;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 15px 40px;

    p {
      margin-top: 0;
      margin-bottom: 0.85em;
    }
  }
}

@include min-screen(600px) {
  .page {
    left: $sidebar-width;
  }
}

.page-without-menu {
  width: 100%;
  left: 0;
}

@include max-screen(600px) {
  .page {
    width: 100%;
    left: 0;
  }
}
